body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
/* accpunt */

.account {
  margin-top: 100px;
}
.account .form-control {
  padding: 10px 10px;
}
.account form {
  margin-right: 100px;
}
.account .form-group {
  margin-top: 30px;
}
.account .form-group label {
  font-size: 20px;
}
.account .re-password h3 {
  color: #7d47fa;
}
/* footer */

.bg-footer {
  background-image: url(../Images/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.gap {
  padding-top: 50px;
}

.footer {
  color: #fff;
  margin-top: 100px;
}
footer a {
  color: #fff;
}
footer h5 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}
footer li {
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}
.list-social {
  font-weight: 100;
}
footer .btn-sub {
  background: blue;
  border-color: blue;
  color: #fff;
}
footer .btn-mail {
  background: #fff;
  color: blue;
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  /* nav */
  .nav .active {
    margin-left: 20px;
    background: none;
    border-radius: unset;
  }
  .nav-item .search {
    margin-top: 4px;
    color: #fff;
    border-radius: 0px;
    padding: 6px 6px 6px 6px;
  }

  /* accpunt */

  .account {
    margin-top: 100px;
  }
  .account .form-control {
    padding: 5px 5px;
  }
  .account form {
    margin-right: 0px;
  }
  .account .form-group {
    margin-top: 20px;
  }
  .account .form-group label {
    font-size: 17px;
  }
  .account .re-password h3 {
    color: #7d47fa;
  }

  /* footer */

  .footer .img {
    width: 50px;
    padding-bottom: 5px;
  }

  .gap {
    padding-top: 50px;
  }

  .footer {
    color: #fff;
    margin-top: 100px;
  }
  footer a {
    color: #fff;
  }
  footer h5 {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 7px;
  }
  footer li {
    font-size: 13px;
    font-weight: 400;
    padding: 0px;
    padding-top: 5px;
  }
  footer .footer-btn h5 {
    font-size: 25px;
  }
  footer .footer-btn li {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  /* accpunt */

  .account {
    margin-top: 100px;
  }
  .account h3 {
    font-size: 25px;
  }
  .account .form-control {
    padding: 8px 5px;
  }
  .account form {
    margin-right: 0px;
  }
  .account .form-group {
    margin-top: 15px;
  }
  .account .form-group label {
    font-size: 17px;
  }
  .account .re-password h3 {
    color: #7d47fa;
  }
  .account .re-password {
    margin-top: 30px;
  }

  /* footer */

  .footer .img {
    width: 80px;
    padding-bottom: 5px;
  }

  .footer {
    color: #fff;
    margin-top: 100px;
  }
  footer h5 {
    font-size: 20px;
  }

  footer .footer-btn h5 {
    font-size: 25px;
  }
  footer .footer-btn li {
    font-size: 15px;
  }
}

@media (max-width: 330px) {
}

/* event type show and hide*/

.show {
  display: block;
}

.hide {
  display: none;
}

/* registration form */

.bg-linear {
  background: linear-gradient(-130deg, #0c47b4, #67caf1);
  /* color: #fff; */
}

/* .bg-linear a{
    color: #fff;
  
}  */

.bg-img {
  /* background-image: url(images/wp8107903-office-work-wallpapers.jpg); */
  background-position: center;
}
