body {
  font-family: "Gorditas";
}
.bg-nav {
  background: #fff;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.315); */
  box-shadow: 1px 7px 7px 0px rgb(0 0 0 / 10%);
}
.nav-btn {
  background: #1104c5;
  color: #fff;
  border-radius: 5px;
  padding: 2px 10px;
}
.head {
  background-image: url(../Images-2/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.breadcrumb {
  background: none !important;
}
.breadcrumb .breadcrumb-item a {
  color: #000000;
  font-weight: 500;
}
.breadcrumb .active {
  color: #b4c0ff !important;
  font-weight: 500;
}
.head-1 h2 {
  font-size: 40px;
  padding-top: 70px;
}
.head-1 p {
  font-size: 16px;
  padding-top: 20px;
  padding-right: 10px;
  font-weight: 500;
  word-spacing: 5px;
  color: #4e4c4c;
}
.head-1 h2 {
  font-size: 40px;
  padding-top: 20px;
  font-weight: 700;
  color: #000;
}
.head-1 .s1 {
  color: blue;
}
.head-1 .s2 {
  color: blue;
}
.head-1 h5 {
  color: blue;
  font-style: 30px;
  margin-top: 30px;
}
.head-1 .blue-btn {
  background: blue;
  color: #fff;
  font-size: 26px;
  padding: 8px 45px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* course section */

.course-list h1 {
  color: #000;
  font-weight: 700;
}
.course-list .s3 {
  color: blue;
}
.course-list .card {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 1px 12px 12px 0px rgb(0 0 0 / 40%);
  color: #262261;
}
.course-list .c1 {
  background-image: url(../Images/Mask\ Group\ 24.png);
}
.course-list .c2 {
  background-image: url(../Images/Mask\ Group\ 25.png);
}
.course-list .c3 {
  background-image: url(../Images/Mask\ Group\ 26.png);
}
.course-list .c4 {
  background-image: url(../Images/Mask\ Group\ 27.png);
}
.course-list .c5 {
  background-image: url(../Images/Mask\ Group\ 28.png);
}
.course-list .c6 {
  background-image: url(../Images/Mask\ Group\ 29.png);
}
.course-list .card-head {
  padding: 103px 10px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-size: cover;
}
.course-list .img-1 {
  position: absolute;
  margin-left: 2px;
  top: 180px;
}
.course-list .card-body {
  padding: 5px 8px 8px 8px;
}
.course-list .card-body .txt-1 {
  padding-left: 75px;
  font-size: 15px;
  top: 0;
  font-weight: 500;
}
.course-list .card-body .txt-2 {
  font-size: 17px;
  font-weight: 500;
}
.course-list .card-body .badge {
  padding: 6px 20px;
  color: #fff;
  float: right;
}
.course-list .card-body .badge-red {
  background-color: #b4c0ff;
}
.course-list .card-body .badge-blue {
  background-color: #b4c0ff;
}
.course-list .card-body .card-btn-red {
  background: #b4c0ff;
}
.course-list .card-body .card-btn-blue {
  background: #b4c0ff;
}
.course-list .card-body .rate {
  float: left;
  font-weight: 500;
}
.course-list .card-body .star {
  float: right;
}
.fa-star {
  font-size: 13px;
  color: rgb(226, 226, 226);
}
.checked {
  color: orange;
}

.course-list .card-body .time {
  float: left;
  font-size: 13px;
}
.course-list .card-body .lectures {
  float: right;
  font-size: 13px;
}

.course-list .btn-view-more {
  padding: 4px 10px;
  margin-top: 50px;
  background: #1104c5;
  color: #fff;
  font-size: 22px;
}
.course-list .pagination .page-item a {
  border-color: blue;
  border-radius: 50%;
  margin: 10px;
  color: blue;
}
.course-list .pagination .page-item .active {
  border-color: blue;
  border-radius: 50%;
  background: blue;
  margin: 10px;
  color: #fff;
}
/* course section end */

/* bg-mobile-app */
.bg-mobile-app {
  background-image: url(../Images-2/Group\ 54.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-mobile-app .app {
  align-self: center;
}
.bg-mobile-app h6 {
  font-weight: 500;
}

/* footer */

.bg-footer {
  background-image: url(../Images/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.gap {
  padding-top: 50px;
}

.footer {
  color: #fff;
  margin-top: 100px;
}
footer a {
  color: #fff;
}
footer h5 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}
footer li {
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}
.list-social {
  font-weight: 100;
}
footer .btn-sub {
  background: blue;
  border-color: blue;
  color: #fff;
}
footer .btn-mail {
  background: #fff;
  color: blue;
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  .head-1 p {
    font-size: 14px;
  }
  .head-1 h2 {
    font-size: 40px;
    padding-top: 20px;
  }

  /*course list  */

  .course-list .card-head {
    padding: 130px 10px;
  }
  .course-list .img-1 {
    position: absolute;
    margin-left: 2px;
    top: 230px;
  }
  .course-list .card-body {
    padding: 5px 20px 8px 20px;
  }
  .course-list .card-body .txt-1 {
    padding-left: 85px;
    font-size: 18px;
  }
  .course-list .card-body .txt-2 {
    font-size: 22px;
  }
  .course-list .card-body .badge {
    padding: 8px 25px;
    margin-right: 15px;
  }

  .course-list .card-body .card-btn-red {
    padding: 6px 30px;
  }
  .course-list .card-body .card-btn-blue {
    padding: 6px 30px;
  }
  .course-list .card-body .rate {
    float: left;
    font-weight: 700;
  }

  /* bg-mobile-app */
  .bg-mobile-app {
    text-align: center;
  }
  .bg-mobile-app .img {
    width: 300px;
  }
  .bg-mobile-app h2 {
    font-size: 25px;
  }

  /* footer */

  .footer .img {
    width: 50px;
    padding-bottom: 5px;
  }

  .gap {
    padding-top: 50px;
  }

  .footer {
    color: #fff;
    margin-top: 100px;
  }
  footer a {
    color: #fff;
  }
  footer h5 {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 7px;
  }
  footer li {
    font-size: 13px;
    font-weight: 400;
    padding: 0px;
    padding-top: 5px;
  }
  footer .footer-btn h5 {
    font-size: 25px;
  }
  footer .footer-btn li {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .head-1 p {
    font-size: 14px;
  }
  .head-1 h2 {
    font-size: 35px;
    padding-top: 20px;
    padding-left: 10px;
  }

  /* course section */

  .course-list h1 {
    color: #000;
    font-weight: 700;
  }
  .course-list .s3 {
    color: blue;
  }
  .course-list .card {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 1px 12px 12px 0px rgb(0 0 0 / 40%);
    color: #262261;
  }
  .course-list .c1 {
    background-image: url(../Images/Mask\ Group\ 24.png);
  }
  .course-list .card-head {
    padding: 109px 10px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-size: cover;
  }
  .course-list .img-1 {
    position: absolute;
    margin-left: 2px;
    top: 180px;
  }
  .course-list .card-body {
    padding: 10px 8px 8px 8px;
  }
  .course-list .card-body .txt-1 {
    padding-left: 75px;
    font-size: 15px;
    top: 0;
    font-weight: 500;
  }
  .course-list .card-body .txt-2 {
    font-size: 17px;
    font-weight: 500;
  }
  .course-list .card-body .card-btn-red {
    padding: 6px 10px;
  }
  .course-list .card-body .card-btn-blue {
    padding: 6px 10px;
  }

  .course-list .card-body .badge {
    padding: 6px 25px;
    margin-right: 7px;
  }
  .course-list .btn-view-more {
    font-size: 17px;
  }

  /* bg-mobile-app */
  .bg-mobile-app h2 {
    font-size: 20px;
  }
  .bg-mobile-app .img {
    width: 200px;
  }

  /* footer */

  .footer .img {
    width: 80px;
    padding-bottom: 5px;
  }

  .footer {
    color: #fff;
    margin-top: 100px;
  }
  footer h5 {
    font-size: 20px;
  }

  footer .footer-btn h5 {
    font-size: 25px;
  }
  footer .footer-btn li {
    font-size: 15px;
  }
}

@media (max-width: 330px) {
}

/* event type show and hide*/

.show {
  display: block;
}

.hide {
  display: none;
}

/* registration form */

.bg-linear {
  background: linear-gradient(-130deg, #0c47b4, #67caf1);
  /* color: #fff; */
}
