.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: Ubuntu;
  margin-left: 20px;
  margin-bottom: 20px;
  color: black;
}

.header {
  display: flex;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: rgb(216, 215, 215);
  border-radius: 10px 10px 0 0;
  padding: 15px 10px 15px 10px;
}

.col1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.col2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col3 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  font-family: Ubuntu;
  font-size: 1.1rem;
  padding: 15px 10px 15px 10px;
  border: 1px solid rgb(216, 215, 215);
  color: rgb(37, 1, 83);
  font-weight: bold;
}
