.container {
  width: 22%;
  height: 160px;
  border-radius: 5px;
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.5s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.container1 {
  width: 22%;
  height: 160px;
  border-radius: 5px;
  background-image: radial-gradient(
    circle 780.6px at 10% 20%,
    rgb(178, 241, 208) 0%,
    rgb(241, 239, 165) 90.7%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.5s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.title {
  font-size: 1.3rem;
  font-family: Ubuntu;
  color: black;
  font-weight: bold;
}

.body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.number {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  font-family: Ubuntu;
  padding: 20px;
}

.body img {
  height: 100px;
  object-fit: contain;
}

.container:hover {
  transform: scale(1.05);
}
.container1:hover {
  transform: scale(1.05);
}
