.rating {
  font-weight: bold;
  font-family: "Ubuntu";
  margin-right: 5px;
}
.topicLength {
  margin-left: 8px;
}

.courseHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.courseUpdatedCont {
  font-size: 0.8rem;
  margin-left: 4px;
}

.courseDate {
  margin-left: 4px;
  font-weight: bold;
}

.carousalMenu {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* justify-content: center; */
  width: min-content;
  /* max-width: ; */
}

.carousalMenu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.horMenuWrapper {
  display: flex;
  justify-content: space-between;
  width: min-content;
  max-width: 100%;
  align-items: center;
  margin: auto auto;
}

.arrowIcon {
  font-size: 35px;
  cursor: pointer;
  color: blue;
  margin: 50px;
}

.menu {
  margin: 10px;
  padding: 10px;
  font-size: 1.4rem;
  font-family: Ubuntu;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
}

.menu:active {
  border-bottom: 5px solid blue;
}

.courseCard {
  max-width: 330px;
  min-width: 330px;
  margin-bottom: 50px;
  cursor: pointer;
}

.courseContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  text-decoration: none !important;
  flex-wrap: wrap;
  margin-top: 50px;
}

.courseWrapper {
  max-width: 300px;
  margin: 20px;
}

@media (max-width: 768px) {
  .courseCard {
    margin: 0;
    margin-bottom: 20px;
  }
  .courseContainer {
    flex-direction: column;
  }
  .arrowIcon {
    font-size: 25px;
  }
  .menu {
    font-size: 1.05rem;
    margin: 5px;
    padding: 5px;
  }
  .carousalMenu {
    width: 100%;
  }
  .horMenuWrapper {
    width: 100%;
  }
  .iconCont {
    padding: 0;
    margin: 0;
    width: min-content;
  }
}
