.courseTitleHeading {
  font-size: 2.8rem;
  /* letter-spacing: 0.05cm; */
}

.courseTagline {
  font-size: 1.2rem;
  margin: 20px 0 20px 10px;
}

.courseTopicContainer {
  margin-top: 50px;
  background-color: #dee8ff;
  padding: 2.5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(8, 48, 223, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contentHeading {
  color: #1e0394;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Ubuntu" sans-serif;
  margin: 10px;
}

.whatLearn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px 2px 0px 20px;
  font-family: "Ubuntu";
}

.keyPoint {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-family: "Ubuntu";
}

.pointContainer {
  padding: 15px;
}

.pointText {
  font-weight: bold;
  color: rgb(99, 95, 95);
  font-size: 1.05rem;
  font-family: "Ubuntu";
  text-align: left;
}

.iconContainer {
  width: 20px;
  margin-right: 20px;
}
.tickIcon {
  font-size: 1.4rem;
  color: green;
  font-weight: bolder;
}

.courseDes {
  padding: 8px;
  padding-bottom: 0;
  font-family: "Ubuntu";
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(80, 77, 77);
}

.courseDetailsContainerBox {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  padding-bottom: 5px;
}

.coursePriceContainer {
  margin-top: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 30px;
}

.coursePrice {
  font-size: 35px;
  display: flex;
  align-items: center;
}

.courseDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.courseDetailslist {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0 !important;
  margin: 0.2rem !important;
}

.courseContents {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.courseContentContainer {
  margin: 3px !important;
  text-decoration: none !important;
}

.contentTopicsHeading {
  font-weight: bold;
  font-size: 1.3rem;
}

.contentTypeHeading {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 15px;
  margin-left: 15px;
}

.courseContent {
  display: flex;
  padding: 1.5%;
  border-radius: 5px;
  color: purple;
  font-weight: bold;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.5s;
}

.courseContent:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.courseContent-title {
  margin-left: 10px;
}

.addCartBtnContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.addCartBtn {
  width: 80%;
  height: 70px;
  background-color: #2f1a8eed;
  font-size: 1.3rem;
  color: white;
  border: none;
  font-weight: bold;
  font-family: "Ubuntu";
}

.ruppeeIcon {
  font-size: 28px;
}

@media (max-width: 768px) {
  .courseTitleHeading {
    font-size: 2rem;
  }
  .courseTagline {
    font-size: 1.1rem;
  }
  .whatLearn {
    padding: 10px;
  }
  .keyPoint {
    margin: 0;
    margin-bottom: 15px;
  }
  .pointText {
    font-size: 1rem;
  }
  .iconContainer {
    margin-left: 0;
  }
  .addCartBtn {
    height: 50px;
    font-size: 1rem;
    width: 60%;
    border-radius: 8px;
  }
  .coursePrice {
    font-size: 2rem;
  }
  .ruppeeIcon {
    font-size: 25px;
  }
  .courseDetailslist {
    font-size: 1rem;
  }
  .courseDes {
    font-size: 1rem;
  }

  .courseDetailsContainerBox {
    padding-bottom: 0.02px;
    border-radius: 5px;
  }
}
